$border-color: #ddd;
$background-color: white;
$content-bg-color: #fff;
$label-color: #666;
$input-width: 12rem;
$input-height: 4.5rem;
$input-border-color: #ddd;
$input-focus-border-color: #4d90fe;
$invalid-color: #ef3e3e;
$content-width: 52rem;
